body{
    background-color: black;
    color: white;
    text-align: center;
    font-family: sans-serif;
    font-size: 1.3em;
    margin-top: 5%;
    line-height: 1.5;
}
a:link{
  color: white;
}
a:visited{
  color: white;
}
a:hover,a:focus{
  color: lightskyblue;;
}
div.centralTextMain{
  width: 70%;
  margin: auto;
  margin-top: 2em;
  text-align: justify;
  padding: 0em 1em 0em 1em;
}
div.centralTextLogin{
  width: 70%;
  margin: auto;
  text-align: center;
  font-size: 1em;
}
div.centralTextAbout{
  width: 80%;
  margin: auto;
  text-align: left;
  font-size: 1em;
}
div.centralTextAbout div.centerAlign{
  text-align: center;
  margin-bottom: 1em;
}
div.centralTextAbout div.leftAlign{
  text-align: left;
  font-size: 0.9em;
}
div.centralTextAbout div.leftAlign a{
  text-decoration: none;
}
div.centralTextAbout div.leftAlign span.linkDescription{
  color: greenyellow;
  margin-right: 1em;
}
div.centralTextOpenWeather{
  margin-bottom: 2em;
  position: relative;
  top: 1em;
}
div.centralTextWeatherResponse{
  margin-left: 18%;
}
div.centralTextWeatherResponse p{
  text-align: left;
}
footer#footerTextWeatherResponse{
  text-align: center;
  font-style: italic;
}
footer#footerTextWeatherResponse p{
  font-size: 0.8em;
  margin-top: 2em;
  margin-bottom: 3em;
}
img#electronjs, img#nodejs-npm{
  margin-right: 1em;
  margin-left: 1em;
}
img#electronjs{
  width: 200px;
}
img#nodejs-npm{
  width: 250px;
}
img#login{
  width: 100px;
}
img#about{
  width: 200px;
}
img#openWeather{
  width: 300px;
}
img#weatherResponse{
  width: 150px;
}
div.centralImages{
  width: 80%;
  margin: 1.5em auto 1.5em auto;
}
div.centralImageLogin{
  width: 80%;
  margin: 3em auto 2em auto;
}
div.centralImageAbout{
  width: 80%;
  margin: 3em auto 3em auto;
}
div.centralImageOpenWeather{
  width: 80%;
  margin: 1.5em auto 0em auto;
}
div.centralImageWeatherResponse{
  width: 80%;
  margin: 2em auto 1.5em auto;
}
form{
  padding: 1.5em;
}
form input#username, input#password, input#city{
  font-size: 1.4em;
  margin-bottom: 1em;
  padding: 0.3em;
}
input[type=submit]{
  padding: 0.3em 1em 0.3em 1em;
  font-size: 1.1em;
}
